
.aws-btn {
	--button-default-border-radius: 2px;
	--button-default-font-size: 14px;
	--button-default-height: 44px;
	--button-default-line-height: 24px;
	--button-default-placeholder-width: 120px;
	--button-font-color: #ffffff;
	--button-font-family: inherit;
	--button-font-style: normal;
	--button-font-weight: 600;
	--button-horizontal-padding: 10px;
	--button-hover-darken-opacity: 0.1;
	--button-hover-pressure: 1;
	--button-large-height: 34px;
	--button-large-width: 150px;
	--button-letter-spacing: 0px;
	--button-medium-height: 34px;
	--button-medium-width: 115px;
	--button-pink-color: #f089ff;
	--button-pink-color-active: #e667f9;
	--button-pink-color-dark: #d900f9;
	--button-pink-color-hover: #f089ff;
	--button-pink-color-light: white;

	--button-pinkDark-color: #c179cc;
	--button-pinkDark-color-active: #b730cc;
	--button-pinkDark-color-dark: #862395;
	--button-pinkDark-color-hover: #c179cc;
	--button-pinkDark-color-light: #ffffff;
	--button-primary-border: none;

	--button-primary-color: #0aceb1;
	--button-primary-color-active: #0acc89;
	--button-primary-color-dark: #096599;
	--button-primary-color-hover: #0aceb1;
	--button-primary-color-light: #ffffff;
	--button-primaryDark-color: #1ac8ae;

	--button-primaryDark-color-active: #17c88b;
	--button-primaryDark-color-dark: #3269d1;
	--button-primaryDark-color-hover: #1ac8ae;
	--button-primaryDark-color-light: #000000;
	--button-raise-level: 2px;

	--button-red-color: #f4594e;
	--button-red-color-active: #ea1c0d;
	--button-red-color-dark: #ba160a;
	--button-red-color-hover: #f4594e;
	--button-red-color-light: white;


	--button-redDark-color: #f4594e;
	--button-redDark-color-active: #ea1c0d;
	--button-redDark-color-dark: #ba160a;
	--button-redDark-color-hover: #f4594e;
	--button-redDark-color-light: #ffffff;

	--button-secondary-border: none;
	--button-secondary-color: #7e17ea; /* main  */
	--button-secondary-color-active: #5100cb; /* main-click */
	--button-secondary-color-dark: #2a006a; /* border */
	--button-secondary-color-hover: #7e17ea; /* main-hover */

	--button-secondary-color-light: #ffffff; /* text */
	--button-secondaryDark-color: #8f66cc;
	--button-secondaryDark-color-active: #871bc0;
	--button-secondaryDark-color-dark: #4b366b;
	--button-secondaryDark-color-hover: #8f66cc;

	--button-secondaryDark-color-light: #ffffff;
	--button-small-height: 44px;
	--button-small-width: 88px;
	--transform-speed: 0.15s;
	--loading-transition-timing: ease-out;
}


.aws-btn .aws-btn__wrapper:before, .aws-btn .aws-btn__wrapper:after, .aws-btn .aws-btn__content:after, .aws-btn--progress .aws-btn__progress:before, .aws-btn--progress .aws-btn__progress:after, .aws-btn--progress .aws-btn__content:after {
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.aws-btn {
	margin: 0;
	padding: 0;
}

.aws-btn, .aws-btn:focus {
	outline-color: 0;
	outline-style: none;
	outline-width: 0;
}

.aws-btn {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

button.aws-btn .aws-btn__wrapper {
	margin-top: calc(var(--button-raise-level) * -1);
}

.aws-btn {
	background-color: transparent;
	border: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	font-family: var(--button-font-family);
	font-size: var(--button-default-font-size);
	-webkit-font-smoothing: antialiased;
	font-style: var(--button-font-style);
	font-weight: var(--button-font-weight);
	height: var(--button-default-height);
	letter-spacing: var(--button-letter-spacing);
	line-height: var(--button-default-line-height);
	opacity: 0;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-rendering: auto;
	-webkit-transition: opacity .1s ease-out;
	transition: opacity .1s ease-out;
	vertical-align: middle;
}

.aws-btn .aws-btn__wrapper {
	align-items: stretch;
	-webkit-backface-visibility: hidden;
	-webkit-box-align: stretch;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: stretch;
	font-family: var(--button-font-family);
	height: calc(100% - var(--button-raise-level));
	position: relative;
	width: 100%;
}

.aws-btn .aws-btn__wrapper:before {
	border-radius: var(--button-default-border-radius);
	bottom: calc(var(--button-raise-level) * -1);
	content: " ";
	top: auto;
	-webkit-transition: background var(--transform-speed) ease-out, -webkit-transform var(--transform-speed) ease-out;
	transition: background var(--transform-speed) ease-out, -webkit-transform var(--transform-speed) ease-out;
	transition: transform var(--transform-speed) ease-out, background var(--transform-speed) ease-out;
	transition: transform var(--transform-speed) ease-out, background var(--transform-speed) ease-out, -webkit-transform var(--transform-speed) ease-out;
	z-index: 1;
}

.aws-btn .aws-btn__wrapper:after {
	background-color: rgba(0, 0, 0, 0.15);
	border-radius: var(--button-default-border-radius);
	content: " ";
	top: var(--button-raise-level);
	width: 0;
	z-index: 3;
}

.aws-btn .aws-btn__content {
	align-items: center;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: var(--button-default-border-radius);
	-webkit-box-align: center;
	-webkit-box-flex: 1;
	-webkit-box-pack: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex: 1;
	flex: 1;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	justify-content: center;
	overflow: hidden;
	padding: 0 var(--button-horizontal-padding);
	position: relative;
	text-indent: 0;
	-webkit-transform: skew(0) translate3d(0, 0, 0);
	transform: skew(0) translate3d(0, 0, 0);
	-webkit-transform-style: flat;
	transform-style: flat;
	-webkit-transition: border var(--transform-speed) ease-out, background var(--transform-speed) ease-out, color var(--transform-speed) ease-out, -webkit-transform var(--transform-speed) ease-out;
	transition: border var(--transform-speed) ease-out, background var(--transform-speed) ease-out, color var(--transform-speed) ease-out, -webkit-transform var(--transform-speed) ease-out;
	transition: border var(--transform-speed) ease-out, transform var(--transform-speed) ease-out, background var(--transform-speed) ease-out, color var(--transform-speed) ease-out;
	transition: border var(--transform-speed) ease-out, transform var(--transform-speed) ease-out, background var(--transform-speed) ease-out, color var(--transform-speed) ease-out, -webkit-transform var(--transform-speed) ease-out;
	z-index: 3;
}

.aws-btn .aws-btn__content > span:nth-child(1) {
	display: block;
}

.aws-btn .aws-btn__content > span:nth-child(1) > svg {
	margin-top: -2px;
	vertical-align: text-top;
}

.aws-btn:before {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: var(--button-default-border-radius);
	bottom: calc(0px - (var(--button-raise-level) / 2));
	content: " ";
	height: calc(100% - (var(--button-raise-level) * 2));
	left: 1px;
	position: absolute;
	-webkit-transform: skewY(0) translate3d(0, 0, 0);
	transform: skewY(0) translate3d(0, 0, 0);
	-webkit-transition: background calc(var(--transform-speed) * 0.8) ease-out, -webkit-transform calc(var(--transform-speed) * 0.8) ease-out;
	transition: background calc(var(--transform-speed) * 0.8) ease-out, -webkit-transform calc(var(--transform-speed) * 0.8) ease-out;
	transition: transform calc(var(--transform-speed) * 0.8) ease-out, background calc(var(--transform-speed) * 0.8) ease-out;
	transition: transform calc(var(--transform-speed) * 0.8) ease-out, background calc(var(--transform-speed) * 0.8) ease-out, -webkit-transform calc(var(--transform-speed) * 0.8) ease-out;
	width: calc(100% - 2px);
	z-index: 1;
}


.aws-btn--primary .aws-btn__wrapper:before {
	background: var(--button-primary-color-dark);
}

.aws-btn--primary .aws-btn__content {
	background: var(--button-primary-color);
	border: var(--button-primary-border);
	color: var(--button-primary-color-light);
}

.aws-btn--primary .aws-btn__content path {
	fill: var(--button-primary-color-light);
}

.aws-btn--primary .aws-btn__wrapper:hover .aws-btn__content {
	background: var(--button-primary-color-hover);
}

.aws-btn--primary.aws-btn--active .aws-btn__wrapper .aws-btn__content {
	background: var(--button-primary-color-active);
}

.aws-btn--primary.aws-btn--progress .aws-btn__content > span {
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.aws-btn--primary.aws-btn--progress .aws-btn__progress:before, .aws-btn--primary.aws-btn--progress .aws-btn__progress:after {
	color: var(--button-primary-color-light);
}


.aws-btn--secondary .aws-btn__wrapper:before {
	background: var(--button-secondary-color-dark);
}

.aws-btn--secondary .aws-btn__content {
	background: var(--button-secondary-color);
	border: var(--button-secondary-border);
	color: var(--button-secondary-color-light);
}

.aws-btn--secondary .aws-btn__content path {
	fill: var(--button-secondary-color-light);
}

.aws-btn--secondary .aws-btn__wrapper:hover .aws-btn__content {
	background: var(--button-secondary-color-hover);
}

.aws-btn--secondary.aws-btn--active .aws-btn__wrapper .aws-btn__content {
	background: var(--button-secondary-color-active);
}

.aws-btn--secondary.aws-btn--progress .aws-btn__content > span {
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.aws-btn--secondary.aws-btn--progress .aws-btn__progress:before, .aws-btn--secondary.aws-btn--progress .aws-btn__progress:after {
	color: var(--button-secondary-color-light);
}


.aws-btn--pink .aws-btn__wrapper:before {
	background: var(--button-pink-color-dark);
}

.aws-btn--pink .aws-btn__content {
	background: var(--button-pink-color);
	border: var(--button-pink-border);
	color: var(--button-pink-color-light);
}

.aws-btn--pink .aws-btn__content path {
	fill: var(--button-pink-color-light);
}

.aws-btn--pink .aws-btn__wrapper:hover .aws-btn__content {
	background: var(--button-pink-color-hover);
}

.aws-btn--pink.aws-btn--active .aws-btn__wrapper .aws-btn__content {
	background: var(--button-pink-color-active);
}

.aws-btn--pink.aws-btn--progress .aws-btn__content > span {
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.aws-btn--pink.aws-btn--progress .aws-btn__progress:before, .aws-btn--pink.aws-btn--progress .aws-btn__progress:after {
	color: var(--button-pink-color-light);
}


.aws-btn--red .aws-btn__wrapper:before {
	background: var(--button-red-color-dark);
}

.aws-btn--red .aws-btn__content {
	background: var(--button-red-color);
	border: var(--button-red-border);
	color: var(--button-red-color-light);
}

.aws-btn--red .aws-btn__content path {
	fill: var(--button-red-color-light);
}

.aws-btn--red .aws-btn__wrapper:hover .aws-btn__content {
	background: var(--button-red-color-hover);
}

.aws-btn--red.aws-btn--active .aws-btn__wrapper .aws-btn__content {
	background: var(--button-red-color-active);
}

.aws-btn--red.aws-btn--progress .aws-btn__content > span {
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.aws-btn--red.aws-btn--progress .aws-btn__progress:before, .aws-btn--red.aws-btn--progress .aws-btn__progress:after {
	color: var(--button-red-color-light);
}


.aws-btn--primaryDark .aws-btn__wrapper:before {
	background: var(--button-primaryDark-color-dark);
}

.aws-btn--primaryDark .aws-btn__content {
	background: var(--button-primaryDark-color);
	border: var(--button-primaryDark-border);
	color: var(--button-primaryDark-color-light);
}

.aws-btn--primaryDark .aws-btn__content path {
	fill: var(--button-primaryDark-color-light);
}

.aws-btn--primaryDark .aws-btn__wrapper:hover .aws-btn__content {
	background: var(--button-primaryDark-color-hover);
}

.aws-btn--primaryDark.aws-btn--active .aws-btn__wrapper .aws-btn__content {
	background: var(--button-primaryDark-color-active);
}

.aws-btn--primaryDark.aws-btn--progress .aws-btn__content > span {
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.aws-btn--primaryDark.aws-btn--progress .aws-btn__progress:before, .aws-btn--primaryDark.aws-btn--progress .aws-btn__progress:after {
	color: var(--button-primaryDark-color-light);
}


.aws-btn--secondaryDark .aws-btn__wrapper:before {
	background: var(--button-secondaryDark-color-dark);
}

.aws-btn--secondaryDark .aws-btn__content {
	background: var(--button-secondaryDark-color);
	border: var(--button-secondaryDark-border);
	color: var(--button-secondaryDark-color-light);
}

.aws-btn--secondaryDark .aws-btn__content path {
	fill: var(--button-secondaryDark-color-light);
}

.aws-btn--secondaryDark .aws-btn__wrapper:hover .aws-btn__content {
	background: var(--button-secondaryDark-color-hover);
}

.aws-btn--secondaryDark.aws-btn--active .aws-btn__wrapper .aws-btn__content {
	background: var(--button-secondaryDark-color-active);
}

.aws-btn--secondaryDark.aws-btn--progress .aws-btn__content > span {
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.aws-btn--secondaryDark.aws-btn--progress .aws-btn__progress:before, .aws-btn--secondaryDark.aws-btn--progress .aws-btn__progress:after {
	color: var(--button-secondaryDark-color-light);
}


.aws-btn--pinkDark .aws-btn__wrapper:before {
	background: var(--button-pinkDark-color-dark);
}

.aws-btn--pinkDark .aws-btn__content {
	background: var(--button-pinkDark-color);
	border: var(--button-pinkDark-border);
	color: var(--button-pinkDark-color-light);
}

.aws-btn--pinkDark .aws-btn__content path {
	fill: var(--button-pinkDark-color-light);
}

.aws-btn--pinkDark .aws-btn__wrapper:hover .aws-btn__content {
	background: var(--button-pinkDark-color-hover);
}

.aws-btn--pinkDark.aws-btn--active .aws-btn__wrapper .aws-btn__content {
	background: var(--button-pinkDark-color-active);
}

.aws-btn--pinkDark.aws-btn--progress .aws-btn__content > span {
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.aws-btn--pinkDark.aws-btn--progress .aws-btn__progress:before, .aws-btn--pinkDark.aws-btn--progress .aws-btn__progress:after {
	color: var(--button-pinkDark-color-light);
}


.aws-btn--redDark .aws-btn__wrapper:before {
	background: var(--button-redDark-color-dark);
}

.aws-btn--redDark .aws-btn__content {
	background: var(--button-redDark-color);
	border: var(--button-redDark-border);
	color: var(--button-redDark-color-light);
}

.aws-btn--redDark .aws-btn__content path {
	fill: var(--button-redDark-color-light);
}

.aws-btn--redDark .aws-btn__wrapper:hover .aws-btn__content {
	background: var(--button-redDark-color-hover);
}

.aws-btn--redDark.aws-btn--active .aws-btn__wrapper .aws-btn__content {
	background: var(--button-redDark-color-active);
}

.aws-btn--redDark.aws-btn--progress .aws-btn__content > span {
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.aws-btn--redDark.aws-btn--progress .aws-btn__progress:before, .aws-btn--redDark.aws-btn--progress .aws-btn__progress:after {
	color: var(--button-redDark-color-light);
}

.aws-btn--placeholder .aws-btn__wrapper:before {
	background: var(--button-placeholder-color-dark);
}

.aws-btn--placeholder .aws-btn__content {
	background: var(--button-placeholder-color);
	border: var(--button-placeholder-border);
	color: var(--button-placeholder-color-light);
}

.aws-btn--placeholder .aws-btn__content path {
	fill: var(--button-placeholder-color-light);
}

.aws-btn--placeholder .aws-btn__wrapper:hover .aws-btn__content {
	background: var(--button-placeholder-color-hover);
}

.aws-btn--placeholder.aws-btn--active .aws-btn__wrapper .aws-btn__content {
	background: var(--button-placeholder-color-active);
}

.aws-btn--placeholder.aws-btn--progress .aws-btn__content > span {
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.aws-btn--placeholder.aws-btn--progress .aws-btn__progress:before, .aws-btn--placeholder.aws-btn--progress .aws-btn__progress:after {
	color: var(--button-placeholder-color-light);
}

.aws-btn--placeholder {
	width: var(--button-default-placeholder-width);
}

.aws-btn--placeholder .aws-btn__content > span {
	background-color: var(--button-placeholder-color-light);
	border-radius: 2px;
	display: block;
	height: 40%;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.aws-btn--placeholder .aws-btn__content > span:before {
	-webkit-animation: placeholder calc(var(--transform-speed) * 14) linear forwards infinite;
	animation: placeholder calc(var(--transform-speed) * 14) linear forwards infinite;
	background-color: rgba(0, 0, 0, 0.1);
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.aws-btn--visible {
	opacity: 1;
}

.aws-btn--left:before {
	-webkit-transform: skewY(calc(1deg * var(--button-hover-pressure) * 1)) translate3d(0, calc(-1px * var(--button-hover-pressure) / 2), 0);
	transform: skewY(calc(1deg * var(--button-hover-pressure) * 1)) translate3d(0, calc(-1px * var(--button-hover-pressure) / 2), 0);
}

.aws-btn--left .aws-btn__content {
	-webkit-transform: skewY(calc(1deg * var(--button-hover-pressure) * -1));
	transform: skewY(calc(1deg * var(--button-hover-pressure) * -1));
}

.aws-btn--right:before {
	-webkit-transform: skewY(calc(1deg * var(--button-hover-pressure) * -1)) translate3d(0, calc(-1px * var(--button-hover-pressure) / 2), 0);
	transform: skewY(calc(1deg * var(--button-hover-pressure) * -1)) translate3d(0, calc(-1px * var(--button-hover-pressure) / 2), 0);
}

.aws-btn--right .aws-btn__content {
	-webkit-transform: skewY(calc(1deg * var(--button-hover-pressure) * 1));
	transform: skewY(calc(1deg * var(--button-hover-pressure) * 1));
}

.aws-btn--middle:before {
	-webkit-transform: translate3d(0, calc(-1px * var(--button-hover-pressure)), 0);
	transform: translate3d(0, calc(-1px * var(--button-hover-pressure)), 0);
}

.aws-btn--middle .aws-btn__content {
	-webkit-transform: translate3d(0, calc(1px * var(--button-hover-pressure)), 0);
	transform: translate3d(0, calc(1px * var(--button-hover-pressure)), 0);
}

.aws-btn--icon .aws-btn__content > span:nth-child(1) > svg {
	vertical-align: middle;
}

.aws-btn--active:before {
	-webkit-transform: translate3d(0, calc(var(--button-raise-level) * -1), 0);
	transform: translate3d(0, calc(var(--button-raise-level) * -1), 0);
}

.aws-btn--active .aws-btn__content {
	-webkit-transform: translate3d(0, var(--button-raise-level), 0);
	transform: translate3d(0, var(--button-raise-level), 0);
	-webkit-transition: background calc(var(--transform-speed) * 0.8) ease-out, color calc(var(--transform-speed) * 0.8) ease-out, -webkit-transform calc(var(--transform-speed) * 0.8) ease-out;
	transition: transform calc(var(--transform-speed) * 0.8) ease-out, background calc(var(--transform-speed) * 0.8) ease-out, color calc(var(--transform-speed) * 0.8) ease-out, -webkit-transform calc(var(--transform-speed) * 0.8) ease-out;
	transition: background calc(var(--transform-speed) * 0.8) ease-out, color calc(var(--transform-speed) * 0.8) ease-out, -webkit-transform calc(var(--transform-speed) * 0.8) ease-out;
	transition: transform calc(var(--transform-speed) * 0.8) ease-out, background calc(var(--transform-speed) * 0.8) ease-out, color calc(var(--transform-speed) * 0.8) ease-out;
}

.aws-btn--off:before {
	background-color: rgba(0, 0, 0, 0.05);
	-webkit-transform: translate3d(0, calc(var(--button-raise-level) * -1), 0);
	transform: translate3d(0, calc(var(--button-raise-level) * -1), 0);
}

.aws-btn--off:hover .aws-btn__wrapper:before {
	background-color: #2d2d2d;
}

.aws-btn--off:hover .aws-btn__content {
	background-color: #313131;
	color: #3b3b3b;
}

.aws-btn--off .aws-btn__wrapper:before {
	background-color: #323232;
}

.aws-btn--off .aws-btn__content {
	background-color: #353535;
	color: #424242;
	-webkit-transform: translate3d(0, var(--button-raise-level), 0);
	transform: translate3d(0, var(--button-raise-level), 0);
}

.aws-btn--icon {
	font-size: calc(var(--button-default-font-size) * 1.5);
	height: var(--button-icon-height);
	line-height: calc(var(--button-default-line-height) * 1.5);
	width: var(--button-icon-width);
}

.aws-btn--small {
	font-size: var(--button-default-font-size);
	height: var(--button-small-height);
	line-height: var(--button-default-line-height);
	width: var(--button-small-width);
}

.aws-btn--medium {
	font-size: var(--button-default-font-size);
	height: var(--button-medium-height);
	line-height: var(--button-default-line-height);
	width: var(--button-medium-width);
}

.aws-btn--large {
	font-size: var(--button-default-font-size);
	height: var(--button-large-height);
	line-height: var(--button-default-line-height);
	width: var(--button-large-width);
}

.aws-btn--fill {
	width: 100%;
}

span.aws-btn__bubble {
	-webkit-animation: bubble-ping calc(var(--transform-speed) * 3.5) cubic-bezier(0.5, 0, 0.6, 0.4) 0.05s forwards;
	animation: bubble-ping calc(var(--transform-speed) * 3.5) cubic-bezier(0.5, 0, 0.6, 0.4) 0.05s forwards;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	display: block;
	height: 0px;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	-webkit-transform: scale(0.1);
	transform: scale(0.1);
	visibility: hidden;
	width: 0px;
	z-index: 10;
}

@-webkit-keyframes placeholder {
	0% {
		-webkit-transform: translateX(-110%);
		transform: translateX(-110%);
	}
	25% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
	50% {
		-webkit-transform: translateX(110%);
		transform: translateX(110%);
	}
	75% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
	100% {
		-webkit-transform: translateX(-110%);
		transform: translateX(-110%);
	}
}

@keyframes placeholder {
	0% {
		-webkit-transform: translateX(-110%);
		transform: translateX(-110%);
	}
	25% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
	50% {
		-webkit-transform: translateX(110%);
		transform: translateX(110%);
	}
	75% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
	100% {
		-webkit-transform: translateX(-110%);
		transform: translateX(-110%);
	}
}

@-webkit-keyframes bounce {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	30% {
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
	60% {
		-webkit-transform: scale(1.4);
		transform: scale(1.4);
	}
	100% {
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
	}
}

@keyframes bounce {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	30% {
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
	60% {
		-webkit-transform: scale(1.4);
		transform: scale(1.4);
	}
	100% {
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
	}
}

@-webkit-keyframes bubble-ping {
	1% {
		visibility: visible;
	}
	10% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	99% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 0;
	}
	100% {
		visibility: hidden;
	}
}

@keyframes bubble-ping {
	1% {
		visibility: visible;
	}
	10% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	99% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 0;
	}
	100% {
		visibility: hidden;
	}
}

.aws-btn--progress .aws-btn__progress {
	align-items: center;
	border-radius: 2px;
	-webkit-box-align: center;
	-webkit-box-flex: 1;
	-webkit-box-pack: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex: 1;
	flex: 1;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
	text-indent: 0;
	-webkit-transition: border var(--transform-speed) ease-out, background var(--transform-speed) ease-out, color var(--transform-speed) ease-out, -webkit-transform var(--transform-speed) ease-out;
	transition: border var(--transform-speed) ease-out, background var(--transform-speed) ease-out, color var(--transform-speed) ease-out, -webkit-transform var(--transform-speed) ease-out;
	transition: border var(--transform-speed) ease-out, transform var(--transform-speed) ease-out, background var(--transform-speed) ease-out, color var(--transform-speed) ease-out;
	transition: border var(--transform-speed) ease-out, transform var(--transform-speed) ease-out, background var(--transform-speed) ease-out, color var(--transform-speed) ease-out, -webkit-transform var(--transform-speed) ease-out;
	z-index: 3;
}

.aws-btn--progress .aws-btn__progress > span {
	-webkit-transition: opacity calc(var(--transform-speed) * 0.5) ease-out calc(var(--transform-speed) * 0.75);
	transition: opacity calc(var(--transform-speed) * 0.5) ease-out calc(var(--transform-speed) * 0.75);
}

.aws-btn--progress .aws-btn__progress:before, .aws-btn--progress .aws-btn__progress:after {
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	color: rgba(255, 255, 255, 0.65);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	justify-content: center;
	opacity: 0;
	-webkit-transition: opacity calc(var(--transform-speed) * 0.75) ease-out 0.05s, -webkit-transform var(--transform-speed) ease-out 0.05s;
	transition: opacity calc(var(--transform-speed) * 0.75) ease-out 0.05s, -webkit-transform var(--transform-speed) ease-out 0.05s;
	transition: transform var(--transform-speed) ease-out 0.05s, opacity calc(var(--transform-speed) * 0.75) ease-out 0.05s;
	transition: transform var(--transform-speed) ease-out 0.05s, opacity calc(var(--transform-speed) * 0.75) ease-out 0.05s, -webkit-transform var(--transform-speed) ease-out 0.05s;
}

.aws-btn--progress .aws-btn__progress:before {
	content: attr(data-loading);
	display: none;
	-webkit-transform: translate3d(0, 50%, 0);
	transform: translate3d(0, 50%, 0);
}

.aws-btn--progress .aws-btn__progress:after {
	content: attr(data-status);
	display: none;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
}

.aws-btn--progress.aws-btn--active .aws-btn__progress > span {
	opacity: 0.075;
}

.aws-btn--progress.aws-btn--active .aws-btn__progress:after,
.aws-btn--progress.aws-btn--active .aws-btn__progress:before,
.aws-btn--progress.aws-btn--active .aws-btn__content:after {
	display: block;
}

.aws-btn--progress .aws-btn__content:after {
	background-color: rgba(0, 0, 0, 0.15);
	content: " ";
	display: none;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	width: 100%;
}

.aws-btn--start .aws-btn__progress:before {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.aws-btn--start .aws-btn__content:after {
	-webkit-transform: translate3d(-15%, 0, 0);
	transform: translate3d(-15%, 0, 0);
	-webkit-transition: -webkit-transform var(--loading-transition-speed) ease-out;
	transition: transform var(--loading-transition-speed) ease-out, -webkit-transform var(--loading-transition-speed) ease-out;
	transition: -webkit-transform var(--loading-transition-speed) ease-out;
	transition: transform var(--loading-transition-speed) ease-out;
}

.aws-btn--errored .aws-btn__content:after {
	background-color: rgba(255, 0, 0, 0.75);
}

.aws-btn--end .aws-btn__content:after {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform var(--loading-transition-end-speed) var(--loading-transition-timing);
	transition: transform var(--loading-transition-end-speed) var(--loading-transition-timing), -webkit-transform var(--loading-transition-end-speed) var(--loading-transition-timing);
	transition: -webkit-transform var(--loading-transition-end-speed) var(--loading-transition-timing);
	transition: transform var(--loading-transition-end-speed) var(--loading-transition-timing);
}

.aws-btn--end .aws-btn__progress:after {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.aws-btn--end .aws-btn__progress:before {
	opacity: 0;
	-webkit-transform: translate3d(0, 50%, 0);
	transform: translate3d(0, 50%, 0);
}
