/************ dialogs ************/
.container {
	align-items: center;
	background-color: #ffffff;
	display: flex;
	flex-flow: column nowrap;
	font-family: "Lato", sans-serif;
}

.modalHeader {
	font-size: 22pt;
	font-weight: 700;
	margin-top: 20px;
}

.modalMessage {
	margin: 15px 0;
}

.fieldWrapper {
	align-items: center;
	display: flex;
	flex-flow: column nowrap;
}

.submitWrapper {
	margin: 10px 0 35px 0;
}

.logOut {
	cursor: pointer;
	font-size: 11pt;
	padding-bottom: 20px;
}

.logOut:hover {
	color: #f4594e;
}

@media (prefers-color-scheme: dark) {
	.container {
		background-color: rgb(25, 25, 25);
		color: #ffffff;
	}
}